
.body{
    font-family: 'Nanum Gothic', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.prod-list{
    margin-top: 30px;
}
.prod-list li{
    position: relative;
   /* border: 1px solid red;*/
    width: 300px;
    height: 240px;;
    overflow: hidden;
    float: left;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.prod-list > li >img{
    margin-left: 30px;
}

.prod-list .caption{
    position: absolute;
    top: 200px;
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,0,6);
    padding-top: 0px;
    box-sizing: border-box;
    padding: 20px;
    color: #000;
    text-align: center;
    transition: 0.2s  ease-in-out;
    opacity: 0; /* 불투명도 (0,0  ~1.0)*/
    margin-left: 30px;

}
/*li가 호버가 되면 후손 .caption이 움직임 */
.prod-list li:hover .caption{
    top: 0;
    opacity: 1;
}

/*이미지사진 줌 시키기 */
.prod-list li img{
    transform: 0.2s ease-in-out;
}

.prod-list li:hover img{
    transform: scale(1.2 , 1);
}

/*상품이미지 수요 줄 맞추기*/

a{
    text-decoration: none;
    color: #000;
}
#container2{
    width: 1200px;
    margin: 0 auto;
}
#container{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
#banner{
    width: 1200px;
    margin: 0px auto;
    
}
#content{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
#sub_menu{
    width: 1200px;
    overflow: hidden;
}
#nav li{
    float: left;
    text-align: center;
    margin-left: 10px;
    width: 120px;
    display: block;
    border: 1px solid #ccc;
    border-bottom: none;
    height: 100px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 13px;
}
#nav li a span{
    display: block;
    margin-top: 20px;
}
#nav li img{
    transform: 0.2s;
    margin-top: 10px;
}
#nav li:hover img{
    transform: scale(1.2, 1.2);
}
#nav li:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0); 
    border: none;
}
.line3{
    border-bottom: 3px solid #f7ab00;
    width: 1200px;
}
.prod-list li a:first-child{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 5px;
    margin-left: -55px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    background: #000;
}
.prod-list li a:first-child:hover{
    color: #000;
    background: #fff;
}
.prod-list li a span{
    display: inline-block;
    margin-top: 20px;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: px;
    padding: 5px;
}
.prod-list li a:last-child {
    display: block;
    border: 3px solid #ec1b24;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    color: #fff;
    background: #ec1b24;
    
}
.prod-list a:last-child:hover{
    color: #ec1b24;
    background: #fff;
}

.prod-list li a img{
    width: 20px;
    display: inline-block;
}
.prod-list li a img:last-child{
    margin-right: 10px;
}
.prod-list li a i:first-child{
    width: 20px;
    display: inline-block;
}
.prod-list li a i:last-child{
    width: 20px;
    display: inline-block;
    margin-right: 15px;
}
.prod-list li a:last-child{
    letter-spacing: 3px;
}
#utv{
    position: absolute;
    height: 315;
    top: 0px;
    left: 0;
    z-index: 100;
    display: none;
    cursor: move;
}
#utv iframe{
    cursor: move;
}
.btn_close{
    width: 1200px;
    height: 100px;
    background: #fff;
    font-size: 3em;
}
#banner {
    width: 1200px;
    overflow: hidden;
}
#banner a{
    float: left;
}
#banner a:first-child:hover img:first-child{
    transform: scale(1.2, 1.2);
}
#banner a img:first-child{
    transform: 2s;
}
#banner a:last-child:hover img:last-child{
    transform: scale(1.2 , 1.2);
}
#banner a img:last-child{
    transform: 2s;
}